.project {
    margin: 20px;
    padding: 20px;
    border: 2px solid brown;
    text-align: center;
    img {
        max-width: 600px;
        height: auto;
    }
    h3{
        font-size: 1.7rem;
        margin: 10px;
    }
    p{
        font-size: 1rem;
    }
}